* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  scrollbar-width: none;
}
.container {
  background-color: orange;
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

#item-form {
  padding: 32px 32px 0;
}

#item-form input,
#item-form textarea {
  display: inline-block;
  width: 225px;
  padding: 12px;
  margin-right: 12px;
  background: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  outline: none;
  vertical-align: top;
}

#item-form textarea {
  resize: vertical;
}

button {
  padding: 12px 32px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.board {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 16px;
  height: 100%;
  padding: 24px 32px;
  overflow: scroll;
}

.heading {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  min-height: 120px;
  width: 225px;
  background: #f4f4f4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  flex-shrink: 0;
}

.item {
  padding: 12px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  color: black;
  cursor: move;
}

.is-dragging {
  scale: 1.05;
  background: rgb(50, 50, 50);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  color: white;
}
